<mat-toolbar color="secondary">
    <span>Patient details</span>
</mat-toolbar>

<div *ngIf="patient">
    <div class="header">
        <div class="header-icon">
            <img src="assets/user_icon.png">
        </div>
        <div class="header-content">
            <span class="header-title">{{patient.firstName}} {{patient.lastName}}</span>
            <span class="header-subtitle">{{patient.age}} ans, {{patient.sex}}</span>
        </div>
        <div class="button-container">
            <button mat-flat-button color="primary">
                <mat-icon aria-hidden="false" aria-label="edit_btn_icon">edit</mat-icon>
                EDIT
            </button>
        </div>
    </div>
</div>

<mat-divider class="divider"></mat-divider>

<div class="title-container">
    <mat-icon aria-hidden="false" aria-label="drug_icon">medical_services</mat-icon>
    <span class="title">Drugs</span>
</div>
<app-listing-table #drugListingTable *ngIf="dbDataLoaded" collectionName="drug" [filter]="drugFilter">
</app-listing-table>
<button class="add-row-btn" mat-flat-button color="primary" disabled>
    <mat-icon aria-hidden="false" aria-label="add_btn_icon">add</mat-icon>
    ADD
</button>

<mat-divider class="divider"></mat-divider>

<div class="title-container">
    <mat-icon aria-hidden="false" aria-label="treatment_icon">history_edu</mat-icon>
    <span class="title">Treatments</span>
</div>
<app-listing-table #treatmentListingTable *ngIf="dbDataLoaded" collectionName="treatment" [filter]="treatmentFilter">
</app-listing-table>
<button class="add-row-btn" (click)="openFormDialog()" mat-flat-button color="primary">
    <mat-icon aria-hidden="false" aria-label="add_btn_icon">add</mat-icon>
    ADD
</button>