<mat-toolbar color="secondary">
    <span>Patient details</span>
</mat-toolbar>

<div *ngIf="patient">
    <div class="header">
        <div class="header-icon">
            <img src="assets/user_icon.png">
        </div>
        <div class="header-content">
            <span class="header-title">{{patient.firstName}} {{patient.lastName}}</span>
            <span class="header-subtitle">{{patient.age}} ans, {{patient.sex}}</span>
        </div>
    </div>
</div>

<mat-divider class="divider"></mat-divider>

<div class="title-container">
    <mat-icon aria-hidden="false" aria-label="drug_icon">medical_services</mat-icon>
    <span class="title">Drugs</span>
</div>
<app-listing-table collectionName="drug"></app-listing-table>

<div class="title-container">
    <mat-icon aria-hidden="false" aria-label="treatment_icon">history_edu</mat-icon>
    <span class="title">Treatments</span>
</div>
<app-listing-table collectionName="treatment"></app-listing-table>