.btn-container {
    display: flex;
    justify-content: flex-end;

    .form-btn {
        margin-left: 1rem;
    }
}

.form-container {
    display: flex;

    .divider {
        margin-bottom: 1rem;
    }

    .form-field {
        margin-right: 1rem;
    }
}
